Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

Add the export model process in mlperf codes (#1602)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.sh
Due: none

enable lwq for onnxrt woq
  neural_compressor/onnxrt/algorithms/__init__.py
  neural_compressor/onnxrt/algorithms/layer_wise/__init__.py
  neural_compressor/onnxrt/algorithms/layer_wise/core.py
  neural_compressor/onnxrt/algorithms/weight_only/awq.py
  neural_compressor/onnxrt/algorithms/weight_only/gptq.py
  neural_compressor/onnxrt/algorithms/weight_only/rtn.py
  neural_compressor/onnxrt/algorithms/weight_only/utility.py
  neural_compressor/onnxrt/quantization/config.py
  neural_compressor/onnxrt/utils/onnx_model.py
  neural_compressor/onnxrt/utils/utility.py
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
Due: .azure-pipelines/ut-itrex.yml

install auto-round for ut test
  .azure-pipelines/scripts/ut/env_setup.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix typo
  neural_compressor/onnxrt/algorithms/weight_only/awq.py
Due: .azure-pipelines/ut-itrex.yml

fix typo
  neural_compressor/onnxrt/quantization/config.py
Due: .azure-pipelines/ut-itrex.yml

enhance code
  neural_compressor/onnxrt/utils/onnx_model.py
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
Due: .azure-pipelines/ut-itrex.yml

enhance llama example
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

trigger test
  .azure-pipelines/ut-3x-ort.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
Due: none

fix ut
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
Due: none

fix sql injection
  neural_solution/frontend/fastapi/main_server.py
  neural_solution/frontend/utility.py
  neural_solution/test/frontend/fastapi/test_main_server.py
  neural_solution/test/frontend/fastapi/test_utils.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

add save&load for common
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

update fp8 save&load
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/utils.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/load_entry.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

add docstring
  neural_solution/frontend/utility.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

code clean
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix ut
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
  test/3x/onnxrt/requirements.txt
Due: none

Intergrate AutoRound (#1619)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/pytorch_cpu.yaml
  neural_compressor/adaptor/torch_utils/auto_round.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/config.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
  test/quantization/test_weight_only_quantization.py
  test/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update artifacts anyway (for test)
  .azure-pipelines/template/ut-template.yml
Due: none

revert setup
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

remove ipex requirement for pt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix pylint
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

update ut
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
Due: none

update main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

workaround for the incompatible issue
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

revert artifacts update when test failed
  .azure-pipelines/template/ut-template.yml
Due: none

revert pytest for 2x api
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add more UTs
  test/3x/common/test_common.py
Due: none

enhance ut
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
Due: none

Migrate SmoothQuant for IPEX to 3.x API
  neural_compressor/torch/algorithms/smooth_quant/__init___.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

Replace CI UT test with pytest (#1593)
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/ut-3x-ort.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  test/3x/torch/amp/test_fp8_amp.py
  test/3x/torch/quantization/fp8/test_fp8.py
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor_onnxrt.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1x.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2x.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor_pytorch.py
  test/config/test_config_1x.py
  test/config/test_config_2x.py
  test/metric/test_metrics_2.x.py
  test/metric/test_metrics_2x.py
  test/metric/test_mse_2x.py
  test/metric/test_mse_metric_1x.py
  test/strategy/test_basic.py
  test/strategy/test_basic_1x.py
  test/strategy/test_bayesian_1x.py
  test/strategy/test_exhaustive_1x.py
  test/strategy/test_hawq_v2_2x.py
  test/strategy/test_mse_1x.py
  test/strategy/test_mse_v2_2x.py
  test/strategy/test_random_1x.py
  test/strategy/test_sigopt_1x.py
  test/strategy/test_tpe_1x.py
  test/strategy/test_tuning_sampler_1x.py
  test/strategy/test_tuning_space_1x.py
  test/strategy/test_tuning_space_v2_1x.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

refine per Yi's comment
  neural_compressor/common/utils/save_load.py
  neural_compressor/torch/quantization/load_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

refine per suyue's comment
  neural_compressor/torch/algorithms/habana_fp8/tensor/convert.cpp
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

Update neural_compressor/common/utils/save_load.py
  neural_compressor/common/utils/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
