Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, .azure-pipelines/ut-itrex.yml
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix a bug; add comments
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix an issue
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
Due: none

fix an issue
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

set default seqlen to 2048
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
Due: none

fix pytorch models
  neural_insights/gui/src/components/OpList/OpList.js
Due: .azure-pipelines/ut-neural-insights.yaml

fix displaying long op name
  neural_insights/gui/src/components/Diagnosis/Diagnosis.scss
  neural_insights/gui/src/components/OpDetails/OpDetails.scss
Due: .azure-pipelines/ut-neural-insights.yaml

add a checker of cached samples number, mistral-7b tokenzier get no data with seqlen > 2048 in pile-10
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

tiny change
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix layer wise issue
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add bias None
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Algo] enable blockwise on Llama models
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix memory doubling issue
  neural_compressor/torch/quantization/fp8/modules.py
  neural_compressor/torch/quantization/fp8/quantize.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix pylint
  neural_compressor/torch/amp/fp8/functions.py
  neural_compressor/torch/quantization/fp8/modules.py
  neural_compressor/torch/quantization/fp8/quantize.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix ut
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix peft error in ut
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Neural Insights - minor fixes (#1449)
  neural_insights/gui/src/components/Diagnosis/Diagnosis.scss
  neural_insights/gui/src/components/OpDetails/OpDetails.scss
  neural_insights/gui/src/components/OpList/OpList.js
Due: .azure-pipelines/ut-neural-insights.yaml

fix pre-ci
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed mistral-7b issue, this may due to the wrong cache of data mapping
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix peft issue in ut (#1450)
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add comments
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
  neural_compressor/adaptor/torch_utils/autoround/__init__.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

set the AutoAdamRound lr to 0.01 as it achieved the best tradeoff in our tested scenarios
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
  neural_compressor/adaptor/torch_utils/autoround/__init__.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix notebook benchmark
  examples/notebook/pytorch/Quick_Started_Notebook_of_INC_for_Pytorch.ipynb
  examples/notebook/pytorch/benchmark.py
Due: none

fix config
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/fp8/quantize.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix a typo
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix benchmark load
  examples/notebook/pytorch/benchmark.py
Due: none

fix ut
  neural_compressor/torch/quantization/config.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Algo] code update
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Algo] format code
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Algo] fix bug
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix too long line issue
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Algo] add ut
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update readme
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/README.md
Due: none

[Algo] fix format issue
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

port rtn and gptq to 3.0
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

build 3.x_api example folder
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/cnn_dm_dataset.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run-gptq-llm.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_benchmark.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
Due: none
