Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

WeightOnlyLinear keeps self.weight after recover
  neural_compressor/adaptor/torch_utils/model_wrapper.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update calibration.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed incorrect default hyperparameters
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
Due: none

fixed mixstral7b*8 issue
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fixed typo and aligned naming of the metric
  examples/pytorch/image_recognition/segment_anything/README.md
  examples/pytorch/image_recognition/segment_anything/inc_dataset_loader.py
  examples/pytorch/image_recognition/segment_anything/main.py
  examples/pytorch/image_recognition/segment_anything/run_benchmark.sh
Due: none

coverage
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/wrapper.py
  test/pruning_with_pt/pruning_2_plus.x/test_wanda.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update the llm eval script (#1529)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
Due: none

notebook example fix model url and adapt to inc api (#1519)
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_vgg19.ipynb
Due: none

update version_scheme
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

port export func to file
  neural_compressor/adaptor/torch_utils/autoround/__init__.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add export
  neural_compressor/adaptor/torch_utils/autoround/export.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixtypo
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
  test/algorithm/test_autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

change device type
  test/adaptor/pytorch_adaptor/test_autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix keras deserialization issue of lambda layers
  neural_compressor/adaptor/keras.py
  neural_compressor/tensorflow/algorithms/static_quantize/keras.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add export funcs for autoround and fix incorrect hype-parameters in example (#1536)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
  neural_compressor/adaptor/torch_utils/autoround/__init__.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
  neural_compressor/adaptor/torch_utils/autoround/export.py
  neural_compressor/adaptor/torch_utils/autoround/model_wrapper.py
  test/adaptor/pytorch_adaptor/test_autoround.py
  test/algorithm/test_autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add config registery for common & torch
  neural_compressor/common/base_config.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-basic.yml

fix import issue for lower version tf
  neural_compressor/adaptor/keras.py
  neural_compressor/tensorflow/algorithms/static_quantize/keras.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

early stop sq
  neural_compressor/strategy/strategy.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update torch quant algo priority
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
Due: .azure-pipelines/ut-basic.yml

add config registry for tf
  neural_compressor/tensorflow/quantization/config.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add keras version check
  neural_compressor/adaptor/keras.py
  neural_compressor/tensorflow/algorithms/static_quantize/keras.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix version1_gte_version2 import
  neural_compressor/adaptor/keras.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

migrate onnx woq to 3.x API
  neural_compressor/onnxrt/__init__.py
  neural_compressor/onnxrt/algorithms/__init__.py
  neural_compressor/onnxrt/algorithms/weight_only/algo_entry.py
  neural_compressor/onnxrt/algorithms/weight_only/rtn.py
  neural_compressor/onnxrt/algorithms/weight_only/weight_only_utility.py
  neural_compressor/onnxrt/quantization/__init__.py
  neural_compressor/onnxrt/quantization/config.py
  neural_compressor/onnxrt/quantization/quantize.py
  neural_compressor/onnxrt/utils/__init__.py
  neural_compressor/onnxrt/utils/onnx_model.py
  neural_compressor/onnxrt/utils/utility.py
  requirements_onnxrt.txt
  test/3x/onnxrt/quantization/weight_only/test_rtn.py
  test/3x/onnxrt/test_config.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add keras to pylint ignore list
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

add get_cls_config
  neural_compressor/common/base_config.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

lazy import keras
  neural_compressor/adaptor/keras.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add typing check
  neural_compressor/common/base_config.py
Due: .azure-pipelines/ut-basic.yml

WeightOnlyLinear keeps self.weight after recover (#1539)
  neural_compressor/adaptor/torch_utils/model_wrapper.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fix results path in OFA ResNet50 notebook
  examples/notebook/dynas/ResNet50_Quantiation_Search_Supernet_NAS.ipynb
Due: none

Align format (args.dice to args.accuracy)
  examples/pytorch/image_recognition/segment_anything/main.py
Due: none

init commit
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

restore codes
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

rename `TuneObjetives` into `Evaluator`
  neural_compressor/common/base_tune.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

refactor the tuning pipleline
  neural_compressor/torch/tune.py
Due: .azure-pipelines/ut-basic.yml
