Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix issues
  test/hpo/test_hpo.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

minor change
  test/hpo/test_hpo.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

code enhance
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update gptq config
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
Due: .azure-pipelines/ut-basic.yml

close horovod related test due to horovod install issue with torch>=2.1
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  test/data/test_dataloader.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove invalid scripts
  .azure-pipelines/scripts/ut/run_basic_v2.1_ipex.sh
Due: .azure-pipelines/ut-basic.yml

spell
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Doc] blockwise autotuning doc update (#1481)
  docs/source/smooth_quant.md
Due: none

update sq tuning
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix pylint
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

codestyle fix
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update grpc example README
  neural_solution/examples/hf_models_grpc/README.md
Due: .azure-pipelines/code-scan-neural-solution.yaml

ONNX WOQ supports different dtypes
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed typo
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

enable rtn double quant
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-basic.yml

Update NS grpc example README (#1491)
  neural_solution/examples/hf_models_grpc/README.md
Due: .azure-pipelines/code-scan-neural-solution.yaml

update requirements, fixtypos
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  neural_compressor/compression/pruner/pruning.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed the save issue
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/magnitude/run_clm_no_trainer_deepspeed.py
Due: none

Update util.py
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

rename blockwise arg to avoid itrex ut error
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

clean code
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/magnitude/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/magnitude/run_clm_no_trainer_deepspeed.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/magnitude/run_run_in_pruner.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/magnitude/test_in_pruner.py
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/patterns/ninm.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/base.py
  neural_compressor/compression/pruner/pruners/basic.py
  neural_compressor/compression/pruner/utils.py
  neural_compressor/utils/logger.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update weight_only.py
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

clean code
  neural_compressor/utils/logger.py
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refine docs, update requirements
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/eval.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/requirements.txt
Due: none

Update test_weight_only_adaptor.py
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fixtypos
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/requirements.txt
Due: none

refine signround docs
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/signround/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/signround/requirements.txt
Due: none

fix the issue
  test/data/test_dataloader.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

minor change
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

track the current best tune cfg
  neural_compressor/adaptor/ox_utils/util.py
  neural_compressor/strategy/strategy.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update uts
  test/algorithm/test_smooth_quant.py
  test/algorithm/test_smooth_quant_onnx.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Unify the attribute name in WeightOnlyLinear class
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/torch/quantization/layers.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix typos
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml
