Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix bug when using inplace mode
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

revert tune to tuning
  neural_compressor/common/base_tune.py
  neural_compressor/torch/tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

Modify gptq example logic (#1545)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

fix UTs
  neural_compressor/common/base_tune.py
  neural_compressor/torch/tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

rename some files
  neural_compressor/common/base_tuning.py
  neural_compressor/torch/autotune.py
Due: .azure-pipelines/ut-basic.yml

remove some files
  neural_compressor/common/base_tune.py
  neural_compressor/torch/tune.py
Due: .azure-pipelines/ut-basic.yml

Add Config Registry for autotune (#1543)
  neural_compressor/common/base_config.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/constants.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed import error
  neural_compressor/torch/__init__.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

fixed typo
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

hanle single eval
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-basic.yml

refine tuning monitor
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-basic.yml

refine log
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-basic.yml

add more note
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-basic.yml

remove UT of onnxrt woq tune for large model
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

refine the tuning logger
  neural_compressor/common/base_tuning.py
  neural_compressor/torch/autotune.py
Due: .azure-pipelines/ut-basic.yml

add __all__ for autotune
  neural_compressor/torch/autotune.py
Due: .azure-pipelines/ut-basic.yml

remove this issue from release info
  docs/source/releases_info.md
Due: none

Fix Keras Deserialization Issue of Lambda Layers (#1541)
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  docs/source/releases_info.md
  neural_compressor/adaptor/keras.py
  neural_compressor/tensorflow/algorithms/static_quantize/keras.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

change from faster_rcnn_inception_resnet_v2 to faster_rcnn_inception_v2
  examples/.config/model_params_tensorflow.json
  examples/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/run_quant.sh
Due: none

update onnxrt RTN 3.x API
  neural_compressor/common/base_config.py
  neural_compressor/onnxrt/__init__.py
  neural_compressor/onnxrt/algorithms/weight_only/algo_entry.py
  neural_compressor/onnxrt/algorithms/weight_only/rtn.py
  neural_compressor/onnxrt/quantization/__init__.py
  neural_compressor/onnxrt/quantization/config.py
  neural_compressor/onnxrt/quantization/quantize.py
  neural_compressor/onnxrt/utils/onnx_model.py
  neural_compressor/onnxrt/utils/utility.py
  requirements_onnxrt.txt
  test/3x/onnxrt/quantization/weight_only/test_rtn.py
  test/3x/onnxrt/test_config.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix faster_rcnn_inception_v2 example (#1547)
  examples/.config/model_params_tensorflow.json
  examples/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/README.md
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/main.py
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/run_benchmark.sh
  examples/tensorflow/object_detection/tensorflow_models/faster_rcnn_inception_v2/quantization/ptq/run_quant.sh
Due: none

update test_weight_only_adaptor.py
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add wanda (#1479)
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/compression/pruner/dsnot.py
  neural_compressor/compression/pruner/wanda/__init__.py
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
  neural_compressor/compression/pruner/wanda/wrapper.py
  test/pruning_with_pt/pruning_2_plus.x/test_wanda.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Add PTQ example for PyTorch CV - Segment Anything Model (#1464)
  examples/pytorch/image_recognition/segment_anything/README.md
  examples/pytorch/image_recognition/segment_anything/download_dataset.py
  examples/pytorch/image_recognition/segment_anything/inc_dataset_loader.py
  examples/pytorch/image_recognition/segment_anything/main.py
  examples/pytorch/image_recognition/segment_anything/requirements.txt
  examples/pytorch/image_recognition/segment_anything/run_benchmark.sh
  examples/pytorch/image_recognition/segment_anything/run_quant.sh
Due: none

fixed some typos
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-basic.yml

fix bug when using inplace mode (#1546)
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Stop the tuning process early when enabling smooth quant (#1542)
  neural_compressor/strategy/strategy.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Remove UT of onnxrt woq tune for large model to save CI time (#1548)
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Refactor the tuning pipeline (#1528)
  neural_compressor/common/base_tune.py
  neural_compressor/common/base_tuning.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/autotune.py
  neural_compressor/torch/tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml
