Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

add auto use low memo mode
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

replace all tuning to tune
  neural_compressor/common/base_tune.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

fix typo
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed the eval script
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
Due: none

update the import path
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/patterns/base.py
  neural_compressor/compression/pruner/patterns/ninm.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/base.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fixed accuracy issue for awq of weight-only
  neural_compressor/adaptor/torch_utils/awq.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update code of teq
  neural_compressor/adaptor/torch_utils/teq.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update pytorch.py
  neural_compressor/utils/pytorch.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update calibration.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Aligned the codes, shell scripts and readme to the standard.
  examples/pytorch/image_recognition/segment_anything/README.md
  examples/pytorch/image_recognition/segment_anything/main.py
  examples/pytorch/image_recognition/segment_anything/run_benchmark.sh
  examples/pytorch/image_recognition/segment_anything/run_quant.sh
Due: none

add dsnot
  neural_compressor/compression/pruner/wanda/dsnot.py
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Add version condition for IPEX prepare init (#1530)
  neural_compressor/utils/pytorch.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix
  neural_compressor/compression/pruner/wanda/dsnot.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix
  neural_compressor/compression/pruner/wanda/dsnot.py
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update
  neural_compressor/compression/pruner/wanda/dsnot.py
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

move dsnot
  neural_compressor/compression/pruner/dsnot.py
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add new params
  neural_compressor/torch/algorithms/mx.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-basic.yml

Set model to train mode for finetuning (#1525)
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/run_qa_no_trainer.py
Due: none

add export funcs for autoround
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
  neural_compressor/adaptor/torch_utils/autoround/__init__.py
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
  neural_compressor/adaptor/torch_utils/autoround/model_wrapper.py
  test/adaptor/pytorch_adaptor/test_autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update the docs
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
Due: none

Enable SNIP on multiple cards using DeepSpeed ZeRO-3 (#1492)
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/config/zero_stage2_config.json
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/config/zero_stage3_config.json
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/run.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/run_clm_no_trainer_deepspeed.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/run_ds.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/run_ds_z3.sh
  neural_compressor/compression/pruner/criteria.py
  neural_compressor/compression/pruner/patterns/base.py
  neural_compressor/compression/pruner/patterns/ninm.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/base.py
  neural_compressor/compression/pruner/pruners/basic.py
  neural_compressor/compression/pruner/pruners/pattern_lock.py
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

fixtypo
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix trust remote
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

fix trust remote for llm examples (#1537)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

fix
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/compression/pruner/dsnot.py
  neural_compressor/compression/pruner/wanda/__init__.py
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
  test/pruning_with_pt/pruning_2_plus.x/test_wanda.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed format
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
Due: none

Fix wrong socket number retrieval for non-english system (#1514)
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Quantize weight with in-place mode in weight-only quantization (#1511)
  neural_compressor/adaptor/torch_utils/awq.py
  neural_compressor/adaptor/torch_utils/teq.py
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix
  test/pruning_with_pt/pruning_2_plus.x/test_wanda.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/adaptor/ox_utils/calibration.py
  test/adaptor/onnxrt_adaptor/test_onnxrt_augment.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
