Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

add ut for tf config
  neural_compressor/tensorflow/algorithms/distillation/criterions.py
  neural_compressor/tensorflow/algorithms/distillation/optimizers.py
  neural_compressor/tensorflow/algorithms/distillation/utility.py
  test/3x/tensorflow/test_keras_config.py
  test/3x/tensorflow/test_tf_config.py
Due: none

update requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
Due: none

add common test
  test/3x/common/test_common.py
Due: none

Add default config set for tuning (#1562)
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tuning.py
  neural_compressor/onnxrt/quantization/config.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/config.py
  test/3x/onnxrt/test_config.py
  test/3x/tensorflow/test_config.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-itrex.yml

fix typos in mlperf scripts
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.py
Due: none

use inplace=True mode for WOQ (#1557)
  neural_compressor/adaptor/torch_utils/autoround/model_wrapper.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/layers.py
  neural_compressor/torch/utils/__init__.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refactor PT 3x structure and refine RTN
  neural_compressor/torch/__init__.py
  neural_compressor/torch/algorithms/__init__.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/algorithms/weight_only_algos.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/layers.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/quantization/weight_only/__init__.py
  neural_compressor/torch/quantization/weight_only/quantization_impl.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/environ.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

define the default SSL context (#1574)
  examples/onnxrt/image_recognition/onnx_model_zoo/mnist/quantization/ptq_static/main.py
  examples/tensorflow/nlp/bert_base_mrpc/quantization/ptq/prepare_dataset.py
  neural_compressor/data/datasets/dataset.py
  neural_compressor/experimental/data/datasets/dataset.py
  test/data/test_exp_transformers.py
  test/data/test_transform.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug and test default double quant config
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

update RTN tune config and add requirement
  neural_compressor/torch/quantization/config.py
  test/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update existing UTs
  test/3x/torch/test_autotune.py
  test/3x/torch/test_config.py
  test/3x/torch/test_logger.py
  test/3x/torch/test_utils.py
Due: .azure-pipelines/ut-3x-pt.yml

add double quant tune
  neural_compressor/torch/__init__.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/autotune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

align args name
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/weight_only/quantization_impl.py
  test/3x/torch/requirements.txt
  test/3x/torch/test_autotune.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

add requirement
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix auto & add ut
  neural_compressor/common/base_tuning.py
  neural_compressor/torch/quantization/autotune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

update ort llama-2 example
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
Due: none

fix ort hf config
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
Due: none

refactor per discussion
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/algorithms/habana_fp8/__init__.py
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/observer.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/fp8/__init__.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/torch/quantization/fp8/test_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

update ort examples
  examples/.config/model_params_onnxrt.json
Due: none

fix arg description
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-pt.yml

add docstring & ut doc
  neural_compressor/common/base_tuning.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

update tolerable_loss docstring
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-pt.yml

add coding style docs
  docs/source/coding_style.md
Due: none

add vscode settings.json
  docs/source/coding_style.md
Due: none

add vscode settings.json
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

add vscode settings.json
  .vscode/settings.json
Due: none

add more comments
  docs/source/coding_style.md
Due: none

--amend
  docs/source/coding_style.md
Due: none

add more note
  docs/source/coding_style.md
Due: none

fixed typo
  docs/source/coding_style.md
Due: none

add test under test/3x/common
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/ut-3x-pt.yml
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix for test and readme
  examples/.config/model_params_pytorch.json
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_benchmark.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
