Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

init commit
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/gptq.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add wanda
  neural_compressor/compression/pruner/wanda/__init__.py
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove redundant parameters.
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

change get module list
  neural_compressor/compression/pruner/wanda/__init__.py
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

auto out_dtype for matmul
  neural_compressor/torch/quantization/fp8/modules.py
Due: .azure-pipelines/ut-basic.yml

auto output dtype for autocast
  neural_compressor/torch/amp/fp8/functions.py
Due: .azure-pipelines/ut-basic.yml

enable gptq dq example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/cnn_dm_dataset.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/constant.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/test_gptq_algo.py
Due: .azure-pipelines/ut-basic.yml

modify catcher
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

modify find layers
  neural_compressor/compression/pruner/wanda/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Drop BERT Base SST-2 example
  examples/notebook/dynas/BERT_SST2_Supernet_NAS.ipynb
  examples/notebook/dynas/results_bertbase_sst2_macs.csv
Due: none

Update DyNAS-T notebook for distributed search on MBv3 search space
  examples/notebook/dynas/MobileNetV3_Supernet_Distributed_NAS.ipynb
Due: none

Fix missing dependency in DyNAS-T MBv3 notebook
  examples/notebook/dynas/MobileNetV3_Supernet_NAS.ipynb
Due: none

Fix Quantization Policy search for ResNet50 notebook
  examples/notebook/dynas/ResNet50_Quantiation_Search_Supernet_NAS.ipynb
Due: none

Update DyNAS-T version in OFA MBv3 example
  examples/notebook/dynas/MobileNetV3_Supernet_NAS.ipynb
Due: none

Revert "Drop BERT Base SST-2 example"
  examples/notebook/dynas/BERT_SST2_Supernet_NAS.ipynb
  examples/notebook/dynas/results_bertbase_sst2_macs.csv
Due: none

Fix typo
  examples/notebook/dynas/MobileNetV3_Supernet_Distributed_NAS.ipynb
Due: none

Update DyNAS-T version in BERT-SST2 example
  examples/notebook/dynas/BERT_SST2_Supernet_NAS.ipynb
Due: none

fix bug
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove comments
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

minor change
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

move code
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update gather inputs
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Doc] blockwise autotuning doc update
  docs/source/smooth_quant.md
Due: none

doc update
  docs/source/smooth_quant.md
Due: none

fix typo
  docs/source/smooth_quant.md
Due: none

[Example] add gptj eg
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/run_gpt-j_quantization.py
Due: none

update and add ut
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
  test/pruning_with_pt/pruning_2_plus.x/test_wanda.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

minor change
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update the sq doc
  docs/source/smooth_quant.md
Due: none

fixed typo
  docs/source/smooth_quant.md
Due: none

Habana fp8 support (#1469)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/configuration_chatglm.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_chatglm.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_llama.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/tokenization_baichuan.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/requirement.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/common/base_config.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only_algos.py
  neural_compressor/torch/amp/__init__.py
  neural_compressor/torch/amp/autocast.py
  neural_compressor/torch/amp/fp8/__init__.py
  neural_compressor/torch/amp/fp8/functions.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/fp8/__init__.py
  neural_compressor/torch/quantization/fp8/modules.py
  neural_compressor/torch/quantization/fp8/observer.py
  neural_compressor/torch/quantization/fp8/quantization_impl.py
  neural_compressor/torch/quantization/layers.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils.py
  test/3x/torch/amp/test_fp8.py
  test/3x/torch/quantization/fp8/test_fp8.py
  test/3x/torch/quantization/weight_only/test_gptq_algo.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-basic.yml

fix horovod install issue in CI
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/scripts/ut/run_basic_tf_pruning.sh
  test/distributed/test_distributed_metrics.py
  test/distributed/test_distributed_pt_train.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

refine the evaluation process.
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

fix issues
  test/hpo/test_hpo.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
