Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor/common, neural_compressor/onnxrt, test/3x/onnxrt, test/3x/common, setup.py, requirements_ort.txt, .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

add accuracy test
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

refine the tuniong config
  .gitmodules
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

revert change
  .gitmodules
Due: none

revert change
  test/3x/torch/autotune/autotune_demos.py
Due: .azure-pipelines/ut-3x-pt.yml

Fix bugs for gptq exporting with static_groups (#1614)
  neural_compressor/adaptor/torch_utils/gptq.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add fp8 autotune ut and fix bug in autotune (#1638)
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/habana_fp8/test_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

add accuracy test to sq
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  test/algorithm/test_smooth_quant.py
  test/ipex/test_adaptor_ipex.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

correct docstring
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

Correct docstring
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

update pre-commit config
  .pre-commit-config.yaml
Due: none

support hardware scale for gaudi2 (#1637)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/amp/fp8/functions.py
Due: .azure-pipelines/ut-3x-pt.yml

for test only
  neural_solution/version.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

minor fix
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

for test
  .azure-pipelines/code-scan.yml
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
Due: none

update variable
  .azure-pipelines/code-scan.yml
Due: none

for test
  .azure-pipelines/code-scan.yml
Due: none

revert test code
  neural_solution/version.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

remove copyright scan in azure pipeline
  .azure-pipelines/code-scan-neural-insights.yaml
  .azure-pipelines/code-scan-neural-solution.yaml
  .azure-pipelines/code-scan.yml
Due: none

fix issue
  .azure-pipelines/code-scan.yml
Due: none

test
  .azure-pipelines/code-scan.yml
  .azure-pipelines/template/code-scan-template.yml
Due: none

Corrected the docstring of `TuningConfig` (#1639)
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

bug fix
  .azure-pipelines/code-scan.yml
Due: none

align the parameters between 2x and 3x example (#1636)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
Due: none

remove unused checks
  .github/checkgroup.yml
Due: none

update the coverage report name
  .azure-pipelines/scripts/ut/3x/collect_log_3x.sh
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-ort.yml
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix download pattern
  .azure-pipelines/ut-3x-ort.yml
Due: none

move common utils
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

add accuracy test
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

add autoround arch
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

add stmts for coverage compare report
  .azure-pipelines/scripts/ut/compare_coverage.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

change job displayName
  .azure-pipelines/ut-3x-ort.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic.yml
Due: none
