Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

update rtn&dq quantize
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update gptq quantize
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Due: none

update run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
Due: none

add requirements
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
Due: none

add deps for pylint scan
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

add deps for pylint scan (#1613)
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

fix type
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
Due: none

log the quant process
  neural_compressor/common/__init__.py
  neural_compressor/common/base_tuning.py
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/logger.py
  neural_compressor/common/utils/utility.py
  neural_compressor/onnxrt/quantization/quantize.py
  neural_compressor/tensorflow/quantization/quantize.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-itrex.yml

update fp8 implementation, design and implement save&load
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/observer.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
  neural_compressor/torch/algorithms/habana_fp8/tensor/__init__.py
  neural_compressor/torch/algorithms/habana_fp8/tensor/convert.cpp
  neural_compressor/torch/algorithms/smooth_quant/smoothquant.py
  neural_compressor/torch/amp/fp8/functions.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/load_entry.py
  neural_compressor/torch/quantization/modules.py
  neural_compressor/torch/utils/environ.py
  setup.py
  test/3x/torch/quantization/habana_fp8/test_fp8.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

fixed typo and update the notes
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/logger.py
Due: .azure-pipelines/ut-3x-pt.yml

modify the directory of the script.
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.sh
Due: none

init commit
  neural_compressor/adaptor/torch_utils/gptq.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

support mixed several algos
  neural_compressor/common/base_config.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_mixed_algos.py
Due: .azure-pipelines/ut-3x-pt.yml

skip algo
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

test sym
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
Due: none

reset asym & fix asym quant
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

fix asym quant&update ut
  neural_compressor/torch/algorithms/weight_only/utility.py
  test/3x/torch/quantization/weight_only/test_teq.py
Due: .azure-pipelines/ut-3x-pt.yml

modify according to Google type
  neural_compressor/torch/algorithms/weight_only/teq.py
Due: .azure-pipelines/ut-3x-pt.yml

fix rtn ggml ut
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bug
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

clean rtn ut
  test/3x/torch/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

set ggml dq sym
  neural_compressor/torch/utils/constants.py
Due: .azure-pipelines/ut-3x-pt.yml

PyTorch TEQ Weight-only 3x API Implementation (#1598)
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/algorithms/weight_only/teq.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/quantization/weight_only/test_teq.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

remove redunant space
  neural_compressor/common/utils/logger.py
Due: .azure-pipelines/ut-3x-pt.yml

Add unified log to the quantization process (#1615)
  neural_compressor/common/__init__.py
  neural_compressor/common/base_tuning.py
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/logger.py
  neural_compressor/common/utils/utility.py
  neural_compressor/onnxrt/quantization/quantize.py
  neural_compressor/tensorflow/quantization/quantize.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-itrex.yml

Fix GPTQ/RTN 3.x example & fix asym quantize (#1611)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/utils.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

add autoround arch
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/pytorch_cpu.yaml
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add details
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fix quant issue caused by tensors having same name
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/ox_utils/util.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug for linear
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
Due: .azure-pipelines/ut-3x-pt.yml

enable autotune
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/__init__.py
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/conv2d.py
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/dense.py
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/depthwise_conv2d.py
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/pool2d.py
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/quantizer.py
  neural_compressor/tensorflow/algorithms/static_quant/keras_utils/separable_conv2d.py
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.py
  neural_compressor/tensorflow/keras/quantization/config.py
  neural_compressor/tensorflow/quantization/__init__.py
  neural_compressor/tensorflow/quantization/algorithm_entry.py
  neural_compressor/tensorflow/quantization/auto_tune.py
  neural_compressor/tensorflow/quantization/autotune.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fold_batch_norm.py
  test/3x/tensorflow/test_autotune.py
  test/3x/tensorflow/test_config.py
Due: none

fixed get best qmodel
  neural_compressor/config.py
  neural_compressor/mix_precision.py
  neural_compressor/quantization.py
  neural_compressor/strategy/auto.py
  neural_compressor/strategy/strategy.py
  neural_compressor/training.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add docstring
  neural_compressor/strategy/strategy.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml
