Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

Update README.md
  examples/pytorch/image_recognition/segment_anything/README.md
Due: none

fixed the import
  neural_compressor/torch/algorithms/weight_only/rtn.py
  test/3x/torch/quantization/fp8/test_fp8.py
Due: .azure-pipelines/ut-basic.yml

add quantize_dynamic
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-basic.yml

update ut test
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_api.sh
Due: .azure-pipelines/ut-basic.yml

fixed the check for type selection
  neural_compressor/strategy/conservative.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update main.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/autoround/main.py
Due: none

Add progress bar for woq and sq
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update weight_only.py
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update smooth_quant.py
  neural_compressor/adaptor/ox_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update calibration.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fix test_model UT autotrackable import issue
  neural_compressor/adaptor/tf_utils/smooth_quant_calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

save all files
  examples/tensorflow/nlp/large_language_models/quantization/ptq/gpt-j/main.py
  test/model/test_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add new examples
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/run_llama2_sq.py
Due: none

remove global_dtype in autocast
  neural_compressor/torch/amp/autocast.py
Due: .azure-pipelines/ut-basic.yml

Update util.py
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove an invalid example
  examples/README.md
  examples/notebook/bert_mini_distillation/BERT-Mini-SST2.ipynb
  examples/notebook/bert_mini_distillation/bert-mini_engine_static.yaml
  examples/notebook/bert_mini_distillation/bert-mini_static.yaml
Due: none

add hpex check in utils
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils.py
  test/3x/torch/amp/test_fp8.py
  test/3x/torch/quantization/fp8/test_fp8.py
Due: .azure-pipelines/ut-basic.yml

fix pylint
  neural_compressor/torch/utils.py
Due: .azure-pipelines/ut-basic.yml

update requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/requirements.txt
Due: none

update readme
  docs/source/installation_guide.md
Due: none

add llama fp8 kv cache
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
Due: none

fix bug in autocast
  neural_compressor/torch/amp/autocast.py
Due: .azure-pipelines/ut-basic.yml

fix bug
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_llama.py
Due: none

update installation docs
  docs/source/installation_guide.md
Due: none

update validated fw version and installation method (#1463)
  README.md
  docs/source/installation_guide.md
  examples/README.md
  examples/notebook/bert_mini_distillation/BERT-Mini-SST2.ipynb
  examples/notebook/bert_mini_distillation/bert-mini_engine_static.yaml
  examples/notebook/bert_mini_distillation/bert-mini_static.yaml
Due: none

add llama2 smoothquant example
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/run_llama2_sq.py
Due: none

minor update
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/README.md
Due: none

fix typo
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/README.md
Due: none

add lm_eval, enable pruning for CHN models
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  neural_compressor/compression/pruner/pruning.py
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add 13b model recipe and minor change
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/run_llama2_sq.py
Due: none

minor change
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/ipex/run_llama2_sq.py
Due: none
