Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

Enhance ONNXRT log info (#1454)
  neural_compressor/adaptor/onnxrt.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

disable multi-instance for npu benchmark
  neural_compressor/benchmark.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[Algo] fix bug
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Remove Version Check for tf.estimator
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add xpu examples
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
Due: none

minor fix
  examples/pytorch/image_recognition/torchvision_models/quantization/ptq/cpu/ipex/main.py
Due: none

add execute entry
  test/algorithm/test_autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

bug fix
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/main.py
Due: none

support more models with npu test
  examples/onnxrt/image_recognition/resnet50_torchvision/quantization/ptq_static/main.py
  examples/onnxrt/object_detection/ssd_mobilenet_v1/quantization/ptq_static/main.py
Due: none

add objective for register multiple objs
  examples/v3/auto_tune_example.py
  neural_compressor/common/__init__.py
  neural_compressor/common/base_tune.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/tune.py
Due: .azure-pipelines/ut-basic.yml

Lyt/blockwise (#1441)
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/tensorflow.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/strategy/strategy.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed torch without cuda issue
  neural_compressor/adaptor/torch_utils/autoround/autoround.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

rename file name
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/fp8/__init__.py
  neural_compressor/torch/quantization/fp8/quantization_impl.py
  neural_compressor/torch/quantization/layers.py
Due: .azure-pipelines/ut-basic.yml

fixed typos
  neural_compressor/torch/quantization/fp8/__init__.py
Due: .azure-pipelines/ut-basic.yml

fix typos
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-basic.yml

[Bug] fix auto-space generation
  neural_compressor/adaptor/torch_utils/smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update model link from ONNX model zoo (#1459)
  examples/onnxrt/body_analysis/onnx_model_zoo/arcface/quantization/ptq_static/prepare_model.py
  examples/onnxrt/body_analysis/onnx_model_zoo/emotion_ferplus/quantization/ptq_static/prepare_model.py
  examples/onnxrt/body_analysis/onnx_model_zoo/ultraface/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/alexnet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/caffenet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/densenet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/efficientnet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/fcn/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/googlenet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/inception/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/mnist/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/mobilenet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/resnet50/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/shufflenet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/squeezenet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/vgg16/quantization/ptq_static/prepare_model.py
  examples/onnxrt/image_recognition/onnx_model_zoo/zfnet/quantization/ptq_static/prepare_model.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlm/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlm/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_dynamic/main.py
  examples/onnxrt/nlp/huggingface_model/token_classification/layoutlmv3/quantization/ptq_static/main.py
  examples/onnxrt/nlp/onnx_model_zoo/BiDAF/quantization/ptq_dynamic/prepare_model.py
  examples/onnxrt/nlp/onnx_model_zoo/bert-squad/quantization/ptq_dynamic/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/DUC/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/faster_rcnn/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/mask_rcnn/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/ssd/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/ssd_mobilenet_v1/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/tiny_yolov3/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov3/quantization/ptq_static/prepare_model.py
  examples/onnxrt/object_detection/onnx_model_zoo/yolov4/quantization/ptq_static/prepare_model.py
Due: none

Remove Version Check for tf.estimator (#1460)
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Neural Coder support LLM to enable running on Intel GPU by IPEX
  neural_coder/backends/pytorch_inc_static_quant_ipex_xpu.yaml
  neural_coder/docs/SupportMatrix.md
  neural_coder/interface.py
  neural_coder/launcher.py
Due: .azure-pipelines/ut-ncoder.yml

fix some typos.
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run-gptq-llm.sh
Due: none

Update GPTQ example's documentation (#1457)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run-gptq-llm.sh
Due: none

Neural Coder PTQ Support on Intel GPU with IPEX Backend (#1461)
  neural_coder/backends/pytorch_inc_static_quant_ipex_xpu.yaml
  neural_coder/docs/SupportMatrix.md
  neural_coder/interface.py
  neural_coder/launcher.py
Due: .azure-pipelines/ut-ncoder.yml

version update reuse
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/models/run_mxnet_models_trigger.sh
  .azure-pipelines/scripts/models/run_onnxrt_models_trigger.sh
  .azure-pipelines/scripts/models/run_pytorch_models_trigger.sh
  .azure-pipelines/scripts/models/run_tensorflow_models_trigger.sh
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_api.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
Due: .azure-pipelines/ut-basic.yml

update FWs version for CI test
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/fwk_version.sh
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/scripts/ut/run_basic_tf_pruning.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/model-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
Due: .azure-pipelines/ut-basic.yml

Update example scripts for ONNXRT DML EP (#1455)
  examples/onnxrt/image_recognition/onnx_model_zoo/shufflenet/quantization/ptq_static/main.py
  examples/onnxrt/image_recognition/onnx_model_zoo/vgg16/quantization/ptq_static/main.py
  examples/onnxrt/image_recognition/resnet50_torchvision/quantization/ptq_static/main.py
  examples/onnxrt/nlp/bert/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_classification/quantization/ptq_dynamic/main.py
  examples/onnxrt/object_detection/ssd_mobilenet_v1/quantization/ptq_static/main.py
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/benchmark.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update validated fw version and installation method
  README.md
  docs/source/installation_guide.md
Due: none

minor fix
  docs/source/installation_guide.md
Due: none

trigger ut test
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
Due: none

Frst draft of SAM PTQ.
  examples/pytorch/image_recognition/segment_anything/README.md
  examples/pytorch/image_recognition/segment_anything/download_dataset.py
  examples/pytorch/image_recognition/segment_anything/inc_dataset_loader.py
  examples/pytorch/image_recognition/segment_anything/ptq_sam.py
  examples/pytorch/image_recognition/segment_anything/requirements.txt
Due: none

Update README.md
  examples/pytorch/image_recognition/segment_anything/README.md
Due: none

Removed unncessary comments.
  examples/pytorch/image_recognition/segment_anything/ptq_sam.py
Due: none

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
