Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_basic_adaptor
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ux.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for UX
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

replace print with logger (#1230)
  neural_solution/frontend/gRPC/server.py
  neural_solution/frontend/utility.py
  neural_solution/launcher.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

Fix bert_base_mrpc smoothquant check_shape issue (#1222)
  neural_compressor/adaptor/tf_utils/smooth_quant_calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Unify GPTQ dataloader with fixed/unfixed length data (#1212)
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/ptq_weight_only/run-gptq-llm.py
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/gptq.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update Neural Solution example & fix grpc port issue (#1232)
  neural_solution/examples/custom_models_optimized/tf_example1/task_request.json
  neural_solution/examples/custom_models_optimized/tf_example1/task_request_distributed.json
  neural_solution/examples/custom_models_optimized/tf_example1/test.py
  neural_solution/examples/hf_models_grpc/README.md
  neural_solution/frontend/gRPC/client.py
  neural_solution/frontend/gRPC/server.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

update roberta op_name
  examples/onnxrt/nlp/huggingface_model/question_answering/quantization/ptq_static/main.py
Due: none

refine document
  docs/source/quantization_weight_only.md
Due: none

fix typo
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  neural_coder/utils/pdf_report.py
  neural_compressor/adaptor/adaptor.py
  neural_compressor/adaptor/keras.py
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/tf_utils/graph_util.py
  neural_compressor/adaptor/torch_utils/gptq.py
  neural_compressor/compression/pruner/pruners/retrain_free.py
  third-party-programs.txt
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml

removed some unused imports and vars
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/bayesian.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/hawq_v2.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/mse_v2.py
  neural_compressor/strategy/random.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/tuning_space.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

enhance uts
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/mse_v2.py
  neural_compressor/strategy/strategy.py
  test/strategy/test_basic.py
  test/strategy/test_tuning_space_v2.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

revert hard code
  test/strategy/test_basic.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

removed blank line
  neural_compressor/strategy/utils/tuning_space.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fixed typos
  test/strategy/test_tuning_space_v2.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update weight-only quant document (#1233)
  docs/source/quantization_weight_only.md
Due: none

Update README.md
  examples/README.md
Due: none

Enhance strategy-related UTs (#1234)
  neural_compressor/strategy/auto_mixed_precision.py
  neural_compressor/strategy/basic.py
  neural_compressor/strategy/bayesian.py
  neural_compressor/strategy/conservative.py
  neural_compressor/strategy/hawq_v2.py
  neural_compressor/strategy/mse.py
  neural_compressor/strategy/mse_v2.py
  neural_compressor/strategy/random.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_sampler.py
  neural_compressor/strategy/utils/tuning_space.py
  test/strategy/test_basic.py
  test/strategy/test_tuning_space_v2.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove pyspell
  .azure-pipelines/scripts/codeScan/codespell/inc_dict.txt
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling.sh
  .azure-pipelines/scripts/codeScan/pyspelling/pyspelling_conf.yaml
  .azure-pipelines/spell-check.yml
  pyproject.toml
Due: none

add metric-related UT for 2.0
  test/metric/test_mse_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

upgrade pre-commit
  .pre-commit-config.yaml
  neural_compressor/conf/config.py
  pyproject.toml
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update model_params_tensorflow.json
  examples/.config/model_params_tensorflow.json
Due: none

Add table transformer example (#1043)
  .azure-pipelines/scripts/codeScan/pyspelling/inc_dict.txt
  examples/.config/model_params_onnxrt.json
  examples/README.md
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/README.md
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/export.sh
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/patch
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/prepare.sh
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/requirements.txt
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/run_benchmark.sh
  examples/onnxrt/object_detection/table_transformer/quantization/ptq_static/run_tuning.sh
Due: none

add oneCICD golden pipeline for code scan
  .github/workflows/Scanner_Bdba.yml
  .github/workflows/Scanner_Coverity.yml
  .github/workflows/Scanner_McAfee.yml
Due: none

del tmp remove ut tmp result (#1236)
  test/distillation/test_distillation_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Ignore torchinfo in code scan
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

update the tear down
  test/metric/test_mse_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update requirements version
  examples/onnxrt/nlp/onnx_model_zoo/gpt2/quantization/ptq_dynamic/requirements.txt
Due: none

fix bug in nf4/fp4
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add UT for precision check
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Fix docstring format
  neural_insights/components/graph/reader/pytorch_reader.py
  neural_insights/components/model/pytorch/model.py
Due: .azure-pipelines/ut-neural-insights.yaml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
