Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

.azure-pipelines/ut-neural-insights.yaml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Insights
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_neural_insights
          uploadPath: $(UPLOAD_PATH)
  ...

refine code
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-pt.yml

fix ut error
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

add warning
  neural_compressor/onnxrt/quantization/autotune.py
  test/3x/onnxrt/test_autotune.py
Due: .azure-pipelines/ut-itrex.yml

enhance expand
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tuning.py
Due: .azure-pipelines/ut-3x-pt.yml

add more notes
  neural_compressor/common/tuning_param.py
Due: .azure-pipelines/ut-3x-pt.yml

add pydantic into requirements
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

update the requiments
  requirements_ort.txt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

update the requiments
  requirements_tf.txt
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

remove some unused UTs
  test/3x/onnxrt/test_config.py
  test/3x/tensorflow/keras/test_config.py
Due: none

fix pylints
  neural_compressor/common/base_config.py
  requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

adapt transformers 4.37 loading (#1606)
  .azure-pipelines/scripts/ut/env_setup.sh
  .azure-pipelines/scripts/ut/run_itrex.sh
  neural_compressor/utils/load_huggingface.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Support autotune for ONNXRT (#1603)
  neural_compressor/onnxrt/__init__.py
  neural_compressor/onnxrt/quantization/__init__.py
  neural_compressor/onnxrt/quantization/autotune.py
  neural_compressor/onnxrt/quantization/config.py
  test/3x/onnxrt/test_autotune.py
Due: .azure-pipelines/ut-itrex.yml

remove torch version limit
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

add requirements
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix pylint and requirements
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/utils/pytorch.py
  requirements_pt.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix pylint
  neural_compressor/adaptor/pytorch.py
  neural_compressor/utils/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update the UTs
  neural_compressor/common/tuning_param.py
  requirements.txt
  test/3x/common/test_common.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update comments
  docs/source/coding_style.md
Due: none

fixed UT
  test/3x/onnxrt/test_autotune.py
Due: none

add ut requirements
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

fix bug
  neural_compressor/common/base_config.py
  test/3x/common/test_common.py
Due: .azure-pipelines/ut-3x-pt.yml

update dependencies for pylint
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

Update requirements_pt.txt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

add dump_elapsed_time
  neural_compressor/common/__init__.py
  neural_compressor/common/utils/utility.py
  neural_compressor/torch/quantization/autotune.py
Due: .azure-pipelines/ut-3x-pt.yml

remove timeout
  neural_compressor/common/base_tuning.py
  test/3x/common/test_common.py
Due: .azure-pipelines/ut-3x-pt.yml

Add coding style docs and recommended VS Code setting (#1584)
  .pre-commit-config.yaml
  .vscode/settings_recommended.json
  docs/source/CONTRIBUTING.md
  docs/source/coding_style.md
Due: none

add more UTs
  neural_compressor/common/tuning_param.py
  test/3x/common/test_common.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed the typo
  neural_compressor/common/base_config.py
Due: .azure-pipelines/ut-3x-pt.yml

update nbits to bits
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/hqq/quant_model.py
Due: none

Enable cross-devices Half-Quadratic Quantization for LLMs (#1597)
  neural_compressor/torch/algorithms/weight_only/hqq/__init__.py
  neural_compressor/torch/algorithms/weight_only/hqq/auto_accelerator.py
  neural_compressor/torch/algorithms/weight_only/hqq/bitpack.py
  neural_compressor/torch/algorithms/weight_only/hqq/config.py
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/qtensor.py
  neural_compressor/torch/algorithms/weight_only/hqq/quant_api.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/utility.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/hqq/test_auto_accelerator.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_config.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cpu.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
  test/3x/torch/quantization/weight_only/hqq/test_packer.py
  test/3x/torch/quantization/weight_only/hqq/test_q_tensor.py
  test/3x/torch/requirements.txt
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

Migrate static quant ipex backend to 3.x API (#1596)
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/torch/algorithms/static_quant/__init__.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/environ.py
  neural_compressor/utils/pytorch.py
  requirements_pt.txt
  test/3x/torch/quantization/test_static_quant.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Enhance auto-tune module (#1608)
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  neural_compressor/common/__init__.py
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tuning.py
  neural_compressor/common/tuning_param.py
  neural_compressor/common/utils/utility.py
  neural_compressor/torch/quantization/autotune.py
  requirements_ort.txt
  requirements_pt.txt
  requirements_tf.txt
  test/3x/common/test_common.py
  test/3x/common/test_param.py
  test/3x/onnxrt/test_autotune.py
  test/3x/onnxrt/test_config.py
  test/3x/tensorflow/keras/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

ONNXRT LLM examples support latest optimum version (#1578)
  examples/.config/model_params_onnxrt.json
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/README.md
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/prepare_model.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/run_quant.sh
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/README.md
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/prepare_model.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/requirements.txt
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/run_benchmark.sh
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
