Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

remove some unused code
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_space.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix the file name to meet pylint rule
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor_onnxrt.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_1x.py
  test/adaptor/pytorch_adaptor/test_adaptor_pytorch_2x.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor_pytorch.py
  test/config/test_config_1x.py
  test/config/test_config_2x.py
  test/metric/test_metrics_2.x.py
  test/metric/test_metrics_2x.py
  test/metric/test_mse_2x.py
  test/strategy/test_basic_1x.py
  test/strategy/test_bayesian_1x.py
  test/strategy/test_exhaustive_1x.py
  test/strategy/test_hawq_v2_2x.py
  test/strategy/test_mse_1x.py
  test/strategy/test_mse_v2_2x.py
  test/strategy/test_random_1x.py
  test/strategy/test_sigopt_1x.py
  test/strategy/test_tuning_sampler_1x.py
  test/strategy/test_tuning_space_1x.py
  test/strategy/test_tuning_space_v2_1x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix test cmd
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

rm exit in pytest
  test/3x/torch/amp/test_fp8.py
  test/3x/torch/quantization/fp8/test_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

enable 2.x api
  neural_compressor/adaptor/pytorch.py
  neural_compressor/config.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

enable 2.x api
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/auto_round.py
  neural_compressor/config.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

lift auto accelerator to torch.utils
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

update the UT
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
Due: .azure-pipelines/ut-3x-pt.yml

fix pytest issue
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  test/3x/torch/amp/test_fp8_amp.py
  test/3x/torch/quantization/fp8/test_fp8.py
  test/metric/test_mse_metric_1x.py
  test/strategy/test_tpe_1x.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Fixed the best qmodel recovery issue (#1620)
  neural_compressor/config.py
  neural_compressor/mix_precision.py
  neural_compressor/quantization.py
  neural_compressor/strategy/auto.py
  neural_compressor/strategy/strategy.py
  neural_compressor/strategy/utils/tuning_space.py
  neural_compressor/training.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

refine the rnt to use auto device
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

add todo
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

support auto device for gptq
  neural_compressor/torch/algorithms/weight_only/gptq.py
  test/3x/torch/quantization/weight_only/gptq_demo.py
  test/3x/torch/quantization/weight_only/rtn_demo.py
Due: .azure-pipelines/ut-3x-pt.yml

add uts
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.py
  neural_compressor/tensorflow/keras/quantization/config.py
  neural_compressor/tensorflow/quantization/config.py
  neural_compressor/tensorflow/quantization/quantize.py
  neural_compressor/tensorflow/quantization/utils/graph_converter.py
  neural_compressor/tensorflow/quantization/utils/graph_converter_without_calib.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/bf16/bf16_convert.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/bf16/dequantize_cast_optimizer.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/int8/fuse_matmul_requantize.py
  neural_compressor/tensorflow/utils/__init__.py
  neural_compressor/tensorflow/utils/constants.py
  neural_compressor/torch/quantization/quantize.py
  test/3x/tensorflow/quantization/smooth_quant/test_smooth_quant.py
  test/3x/tensorflow/test_autotune.py
  test/3x/tensorflow/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml

update test cmd
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove unexpected change
  neural_compressor/torch/quantization/quantize.py
Due: .azure-pipelines/ut-3x-pt.yml

fix quantize_model
  neural_compressor/tensorflow/quantization/quantize.py
  test/3x/tensorflow/quantization/test_smooth_quant.py
Due: none

Optimize the Workflow of Parsing Keras Model
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update test cmd
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix pargma
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix ut
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.py
  neural_compressor/tensorflow/quantization/__init__.py
  neural_compressor/tensorflow/quantization/autotune.py
Due: none

fix bugs and validate uts.
  neural_compressor/adaptor/torch_utils/gptq.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix preCI
  neural_compressor/tensorflow/algorithms/static_quant/tensorflow.py
Due: none

enable autoround_args
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  neural_compressor/config.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add probot draft
  .github/checkgroup.yml
  .github/workflows/probot.yml
Due: none

test again
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

for test
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
  .github/checkgroup.yml
Due: none

skip autoround pylint
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/auto_round.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add auto-round install
  neural_compressor/adaptor/torch_utils/auto_round.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  requirements.txt
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

optimize import of keras layers
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/keras/layers/__init__.py
  neural_compressor/tensorflow/quantization/__init__.py
  neural_compressor/tensorflow/quantization/algorithm_entry.py
Due: none

add check items
  .github/checkgroup.yml
  .github/workflows/probot.yml
Due: none

update auto-round version
  requirements.txt
  test/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix issue
  test/3x/torch/quantization/fp8/test_fp8.py
  test/strategy/test_basic.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

clean up 3x pt test
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

run ort pytest
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

support 3x tf pytest
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix test format
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

install auto-round for ut test
  .azure-pipelines/scripts/ut/env_setup.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Optimize the Workflow of Parsing Keras Model (#1623)
  neural_compressor/model/tensorflow_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml
