Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test 3x ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

fixed the import path
  test/3x/torch/quantization/weight_only/hqq/test_auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

change per review
  neural_compressor/common/utils/__init__.py
  neural_compressor/common/utils/save_load.py
  neural_compressor/torch/algorithms/habana_fp8/save_load.py
  neural_compressor/torch/quantization/load_entry.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

enhance code
  neural_compressor/onnxrt/algorithms/layer_wise/core.py
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
  test/3x/onnxrt/requirements.txt
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-itrex.yml

rename UT
  test/3x/torch/quantization/weight_only/test_auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

fix typo
  test/3x/onnxrt/requirements.txt
Due: .azure-pipelines/ut-3x-ort.yml

update lwq core
  neural_compressor/onnxrt/algorithms/layer_wise/core.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-itrex.yml

use USE_FP8_CONVERT in setup
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

rename UTs
  neural_compressor/torch/algorithms/weight_only/gptq.py
  test/3x/torch/quantization/weight_only/cuda/test_woq_on_cuda.py
  test/3x/torch/quantization/weight_only/gptq_demo.py
  test/3x/torch/quantization/weight_only/rtn_demo.py
Due: .azure-pipelines/ut-3x-pt.yml

include common case in tf 3x test
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

refine code
  test/3x/torch/quantization/weight_only/test_woq_on_cuda.py
Due: .azure-pipelines/ut-3x-pt.yml

fix typo
  neural_compressor/onnxrt/algorithms/layer_wise/core.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-itrex.yml

minor fix
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed UTs
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/quantization/weight_only/test_woq_on_cuda.py
Due: .azure-pipelines/ut-3x-pt.yml

include common UT case in TF 3x CI test (#1630)
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Enable the Combination of Multiple Algorithms within a Single Model (#1616)
  neural_compressor/common/base_config.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/common/test_common.py
  test/3x/torch/quantization/weight_only/test_mixed_algos.py
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml

Support auto device for GPTQ and RTN (#1622)
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/utils/auto_accelerator.py
  neural_compressor/torch/utils/environ.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
  test/3x/torch/quantization/weight_only/test_auto_accelerator.py
  test/3x/torch/quantization/weight_only/test_woq_on_cuda.py
Due: .azure-pipelines/ut-3x-pt.yml

fixed sq UTs
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update the self to cls for classmethods
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix conflict
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  docs/source/smooth_quant.md
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/awq.py
  neural_compressor/adaptor/torch_utils/layer_wise_quant/quantize.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/teq.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/adaptor/torch_utils/waq/README.md
  neural_compressor/adaptor/torch_utils/waq/__init__.py
  neural_compressor/adaptor/torch_utils/waq/auto_alpha.py
  neural_compressor/adaptor/torch_utils/waq/calibration.py
  neural_compressor/adaptor/torch_utils/waq/graph_trace.py
  neural_compressor/adaptor/torch_utils/waq/smooth_quant.py
  neural_compressor/adaptor/torch_utils/waq/utils.py
  test/algorithm/test_smooth_quant.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/configuration_chatglm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_chatglm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/modeling_llama.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/models/tokenization_baichuan.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/requirement.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/utils.py
  test/3x/torch/quantization/habana_fp8/test_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

for test
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

minor fix
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix error
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/requirements.txt
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

enable scale sharing
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

WAQ refactor[WIP] (#1496)
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  docs/source/smooth_quant.md
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/awq.py
  neural_compressor/adaptor/torch_utils/layer_wise_quant/quantize.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/teq.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/adaptor/torch_utils/waq/README.md
  neural_compressor/adaptor/torch_utils/waq/__init__.py
  neural_compressor/adaptor/torch_utils/waq/auto_alpha.py
  neural_compressor/adaptor/torch_utils/waq/calibration.py
  neural_compressor/adaptor/torch_utils/waq/graph_trace.py
  neural_compressor/adaptor/torch_utils/waq/smooth_quant.py
  neural_compressor/adaptor/torch_utils/waq/utils.py
  test/algorithm/test_smooth_quant.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug (validated on v1.14.0)
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/quantization/config.py
  test/3x/torch/quantization/habana_fp8/test_fp8.py
Due: .azure-pipelines/ut-3x-pt.yml

fix import
  neural_compressor/torch/algorithms/smooth_quant/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

Delete neural_compressor/torch/algorithms/smooth_quant/__init___.py
  neural_compressor/torch/algorithms/smooth_quant/__init___.py
Due: .azure-pipelines/ut-3x-pt.yml

Solve Accuracy Difference during Benchmark and Quantization on Some TF Examples
  examples/tensorflow/graph_networks/graphsage/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/vision_transformer/quantization/ptq/main.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/tune_squad.py
Due: none

fix pylint
  neural_compressor/torch/algorithms/smooth_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

for test
  .github/workflows/probot.yml
Due: none

update smoothquant class
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

update task validation
  neural_solution/backend/scheduler.py
  neural_solution/examples/custom_models_optimized/tf_example1/README.md
  neural_solution/examples/custom_models_optimized/tf_example1/task_request.json
  neural_solution/examples/custom_models_optimized/tf_example1/task_request_distributed.json
  neural_solution/examples/hf_models/README.md
  neural_solution/examples/hf_models/task_request.json
  neural_solution/examples/hf_models_grpc/README.md
  neural_solution/examples/hf_models_grpc/task_request.json
  neural_solution/frontend/fastapi/main_server.py
  neural_solution/frontend/utility.py
  neural_solution/test/frontend/fastapi/test_utils.py
Due: .azure-pipelines/code-scan-neural-solution.yaml

Update requirements_pt.txt
  requirements_pt.txt
Due: .azure-pipelines/ut-3x-pt.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor/common, neural_compressor/onnxrt, test/3x/onnxrt, test/3x/common, setup.py, requirements_ort.txt, .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
