Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

fix args bug
  examples/onnxrt/nlp/huggingface_model/language_modeling/quantization/ptq_dynamic/main.py
Due: none

enhance export and related UT
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/model/torch_model.py
  test/export/test_onnx_qlieanr_to_qdq.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove unused test
  test/algorithm/test_algorithm.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix ut failure
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix bug in nf4/fp4 (#1241)
  neural_compressor/adaptor/torch_utils/weight_only.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor.py
  test/algorithm/test_smooth_quant.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

wa for tf hangs
  test/metric/test_mse_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

removed unused line
  test/metric/test_mse_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add oneCICD golden pipeline for code scan (#1240)
  .github/workflows/Scanner_Bdba.yml
  .github/workflows/Scanner_Coverity.yml
  .github/workflows/Scanner_McAfee.yml
Due: none

reformat
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Enhance weight-only for onnxrt backend
  neural_compressor/adaptor/ox_utils/weight_only.py
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix bug
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add op check
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

enhance weight only
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix bug and add ut
  neural_compressor/adaptor/ox_utils/weight_only.py
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

remove code
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix param
  neural_compressor/adaptor/onnxrt.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix large model
  neural_compressor/model/onnx_model.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix gptq acc
  neural_compressor/adaptor/ox_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update ut
  test/adaptor/onnxrt_adaptor/test_weight_only_adaptor.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Fix get_model_path output for TF models
  neural_compressor/utils/neural_insights_utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Add Neural Insights icons to setup.py
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-neural-insights.yaml

fix ops table
  neural_insights/gui/src/components/Diagnosis/Diagnosis.scss
  neural_insights/gui/src/components/OpList/OpList.js
  neural_insights/gui/src/components/Workloads/Workloads.scss
Due: .azure-pipelines/ut-neural-insights.yaml

remove ns
  test/metric/test_mse_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Enhance export related UT (#1242)
  examples/onnxrt/nlp/huggingface_model/language_modeling/quantization/ptq_dynamic/main.py
  neural_compressor/experimental/export/torch2onnx.py
  neural_compressor/model/torch_model.py
  test/algorithm/test_algorithm.py
  test/export/test_onnx_qlieanr_to_qdq.py
  test/export/test_torch2onnx.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix progressive bug
  neural_compressor/compression/pruner/patterns/ninm.py
  neural_compressor/compression/pruner/patterns/nxm.py
  neural_compressor/compression/pruner/pruners/progressive.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Update quantization_weight_only.md
  docs/source/quantization_weight_only.md
Due: none

Add more metric-related UTs (#1239)
  test/metric/test_mse_2.x.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Fix get_model_path output for TF models (#1243)
  neural_compressor/utils/neural_insights_utils.py
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-neural-insights.yaml

fix ut
  test/adaptor/tensorflow_adaptor/test_bf16_convert.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml
