Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

remove unused code
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

remove some unused code
  neural_compressor/torch/algorithms/weight_only/hqq/bitpack.py
  test/3x/torch/quantization/weight_only/hqq/test_hqq_cuda.py
Due: .azure-pipelines/ut-3x-pt.yml

fix issue
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

add more deps for pylint scan
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

enhance UTs
  neural_compressor/torch/algorithms/weight_only/hqq/auto_accelerator.py
  neural_compressor/torch/algorithms/weight_only/hqq/quantizer.py
  neural_compressor/torch/algorithms/weight_only/hqq/utility.py
  test/3x/torch/quantization/weight_only/hqq/test_auto_accelerator.py
  test/3x/torch/quantization/weight_only/hqq/test_q_tensor.py
Due: .azure-pipelines/ut-3x-pt.yml

test for pylint
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
Due: none

cast bias
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
Due: .azure-pipelines/ut-3x-pt.yml

add hqq example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/hqq/eval_wiki2.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/hqq/quant_model.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/hqq/requirements.txt
Due: none

update main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/ptq_static/main.py
Due: none

add ut
  neural_compressor/torch/algorithms/weight_only/teq.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  test/3x/torch/quantization/weight_only/test_teq.py
Due: .azure-pipelines/ut-3x-pt.yml

revert rtn params
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml

update param
  neural_compressor/torch/algorithms/weight_only/awq.py
Due: .azure-pipelines/ut-3x-pt.yml

update main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

update ut to pytest
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

test for pylint
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  neural_compressor/tensorflow/algorithms/__init__.py
  neural_compressor/tensorflow/algorithms/smoother/core.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/convert_add_to_biasadd.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/convert_layout.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/dummy_biasadd.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fuse_gelu.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fuse_pad_with_conv.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/fuse_pad_with_fp32_conv.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/grappler_pass.py
  neural_compressor/tensorflow/quantization/utils/graph_rewriter/generic/insert_print_node.py
  neural_compressor/tensorflow/quantization/utils/utility.py
  neural_compressor/tensorflow/utils/model.py
Due: none

add docstring and fix structure
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/quantization/algorithm_entry.py
Due: .azure-pipelines/ut-3x-pt.yml

add group_dim TODO
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

init commit
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_gptj_mlperf_int4.sh
Due: none

change the location of KerasConfigConverter
  neural_compressor/tensorflow/algorithms/static_quant/keras.py
  neural_compressor/tensorflow/quantization/algorithm_entry.py
  neural_compressor/tensorflow/quantization/auto_tune.py
Due: none

remove utils.py
  neural_compressor/tensorflow/utils.py
Due: none

add more ut
  neural_compressor/torch/algorithms/weight_only/awq.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_awq.py
Due: .azure-pipelines/ut-3x-pt.yml

support older ver ipex
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

clean code
  test/3x/torch/quantization/weight_only/test_awq.py
Due: .azure-pipelines/ut-3x-pt.yml

clean code
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

minor fix
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

uncomment group_dim
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

fix copyright 2023->2024
  neural_compressor/torch/__init__.py
  neural_compressor/torch/algorithms/__init__.py
  neural_compressor/torch/algorithms/habana_fp8/__init__.py
  neural_compressor/torch/algorithms/habana_fp8/fp8_quant.py
  neural_compressor/torch/algorithms/habana_fp8/modules.py
  neural_compressor/torch/algorithms/habana_fp8/observer.py
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/algorithms/weight_only/awq.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/amp/__init__.py
  neural_compressor/torch/amp/autocast.py
  neural_compressor/torch/amp/fp8/__init__.py
  neural_compressor/torch/amp/fp8/functions.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/autotune.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/modules.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/utils/__init__.py
  neural_compressor/torch/utils/constants.py
  neural_compressor/torch/utils/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

import moudules
  neural_compressor/torch/algorithms/weight_only/awq.py
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

update the license
  neural_compressor/torch/algorithms/weight_only/hqq/auto_accelerator.py
  neural_compressor/torch/algorithms/weight_only/hqq/bitpack.py
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
  neural_compressor/torch/algorithms/weight_only/hqq/optimizer.py
Due: .azure-pipelines/ut-3x-pt.yml

update some func names
  neural_compressor/torch/algorithms/weight_only/hqq/core.py
Due: .azure-pipelines/ut-3x-pt.yml

refine utility
  neural_compressor/torch/algorithms/weight_only/utility.py
Due: .azure-pipelines/ut-3x-pt.yml

Refine base config for 3.x (#1595)
  neural_compressor/common/base_config.py
  neural_compressor/onnxrt/quantization/config.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
Due: .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-itrex.yml

fix moudule import
  neural_compressor/torch/algorithms/weight_only/awq.py
Due: .azure-pipelines/ut-3x-pt.yml

Migrate onnxrt GPTQ and AWQ WOQ to 3.x API (#1570)
  neural_compressor/onnxrt/__init__.py
  neural_compressor/onnxrt/algorithms/__init__.py
  neural_compressor/onnxrt/algorithms/smoother/calibrator.py
  neural_compressor/onnxrt/algorithms/smoother/core.py
  neural_compressor/onnxrt/algorithms/weight_only/awq.py
  neural_compressor/onnxrt/algorithms/weight_only/gptq.py
  neural_compressor/onnxrt/algorithms/weight_only/rtn.py
  neural_compressor/onnxrt/algorithms/weight_only/utility.py
  neural_compressor/onnxrt/quantization/__init__.py
  neural_compressor/onnxrt/quantization/algorithm_entry.py
  neural_compressor/onnxrt/quantization/calibrate.py
  neural_compressor/onnxrt/quantization/config.py
  neural_compressor/onnxrt/quantization/quantize.py
  neural_compressor/onnxrt/utils/__init__.py
  neural_compressor/onnxrt/utils/onnx_model.py
  neural_compressor/onnxrt/utils/utility.py
  test/3x/onnxrt/quantization/weight_only/test_awq.py
  test/3x/onnxrt/quantization/weight_only/test_gptq.py
  test/3x/onnxrt/test_config.py
Due: .azure-pipelines/ut-itrex.yml

fix gptq example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/README.md
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/utils.py
Due: none

update GPTQConfig and UTs (#1587)
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_quant.sh
  neural_compressor/torch/algorithms/layer_wise/__init__.py
  neural_compressor/torch/algorithms/layer_wise/load.py
  neural_compressor/torch/algorithms/layer_wise/modified_pickle.py
  neural_compressor/torch/algorithms/layer_wise/utils.py
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/algorithms/weight_only/rtn.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/__init__.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/quantization/modules.py
  neural_compressor/torch/utils/constants.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/test_autotune.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-3x-pt.yml
