Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

.azure-pipelines/code-scan-neural-solution.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
    - job: DocStyle
      displayName: DocStyle
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: pydocstyle
  ...

.azure-pipelines/model-test.yml:
  pool: MODEL_PERF_TEST_TF
  stages:
  - stage: TensorFlowModels
    displayName: Run TensorFlow Model
    pool: MODEL_PERF_TEST_TF
    dependsOn: []
    condition: and(succeeded(), eq('${{ parameters.TensorFlow_Model }}', 'true'))
    jobs:
    - ${{ each model in parameters.TensorFlowModelList }}:
      - job: null
  ...

.azure-pipelines/ut-3x-ort.yml:
  pool: ICX-16C
  stages:
  - stage: ONNXRT
    displayName: Unit Test 3x ONNXRT
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x ONNXRT
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-3x-pt.yml:
  pool: ICX-16C
  stages:
  - stage: Torch
    displayName: Unit Test 3x Torch
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test 3x Torch
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: 3x/run_3x_pt
  ...

.azure-pipelines/ut-basic-no-cover.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-basic.yml:
  pool: ICX-16C
  stages:
  - stage: Adaptor
    displayName: Unit Test FWKs adaptor
    dependsOn: []
    jobs:
    - job: null
      displayName: Test FWKs adaptor
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/ut-itrex.yml:
  pool: MODEL_PERF_TEST
  stages:
  - stage: null
    displayName: Unit Test of ITREX
    jobs:
    - job: null
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_itrex
          uploadPath: $(UPLOAD_PATH)
  ...

.azure-pipelines/ut-ncoder.yml:
  pool: ICX-16C
  stages:
  - stage: null
    displayName: Unit Test for Neural Coder
    jobs:
    - job: null
      steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          repoName: neural-compressor
          repoTag: py38
  ...

for test only, need to revert
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
  test/3x/onnxrt/quantization/weight_only/test_awq.py
  test/3x/onnxrt/quantization/weight_only/test_gptq.py
  test/3x/onnxrt/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-ort.yml

Migrate SmoothQuant for IPEX to 3.x API (#1629)
  neural_compressor/torch/algorithms/smooth_quant/__init__.py
  neural_compressor/torch/algorithms/smooth_quant/smooth_quant.py
  neural_compressor/torch/algorithms/smooth_quant/smoothquant.py
  neural_compressor/torch/algorithms/smooth_quant/utility.py
  neural_compressor/torch/algorithms/static_quant/static_quant.py
  neural_compressor/torch/algorithms/static_quant/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  requirements_pt.txt
  test/3x/torch/quantization/test_smooth_quant.py
  test/3x/torch/quantization/test_static_quant.py
Due: .azure-pipelines/ut-3x-pt.yml

fix report
  .azure-pipelines/scripts/ut/compare_coverage.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix report issue
  .azure-pipelines/scripts/ut/3x/collect_log_3x.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

enable autoround export
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor_pytorch.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Fix Accuracy Difference during Benchmark and Quantization on TF Examples (#1632)
  examples/tensorflow/graph_networks/graphsage/quantization/ptq/main.py
  examples/tensorflow/image_recognition/tensorflow_models/vision_transformer/quantization/ptq/main.py
  examples/tensorflow/nlp/bert_large_squad/quantization/ptq/tune_squad.py
Due: none

Revert "for test only, need to revert"
  test/3x/onnxrt/quantization/layer_wise/test_layer_wise.py
  test/3x/onnxrt/quantization/weight_only/test_awq.py
  test/3x/onnxrt/quantization/weight_only/test_gptq.py
  test/3x/onnxrt/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/ut-3x-ort.yml

revert test code
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
Due: none

update test format
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor_tfnewapi.sh
  .azure-pipelines/scripts/ut/run_basic_api.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/scripts/ut/run_basic_tf_pruning.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-itrex.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

refine example
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/requirement.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/run_llm.py
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/utils.py
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

update trigger path
  .azure-pipelines/ut-itrex.yml
  .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml
Due: none

Revert "WAQ refactor[WIP] (#1496)"
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  docs/source/smooth_quant.md
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/awq.py
  neural_compressor/adaptor/torch_utils/layer_wise_quant/quantize.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/teq.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/adaptor/torch_utils/waq/README.md
  neural_compressor/adaptor/torch_utils/waq/__init__.py
  neural_compressor/adaptor/torch_utils/waq/auto_alpha.py
  neural_compressor/adaptor/torch_utils/waq/calibration.py
  neural_compressor/adaptor/torch_utils/waq/graph_trace.py
  neural_compressor/adaptor/torch_utils/waq/smooth_quant.py
  neural_compressor/adaptor/torch_utils/waq/utils.py
  test/algorithm/test_smooth_quant.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

CI workflow optimize for summary (#1640)
  .azure-pipelines/code-scan-neural-insights.yaml
  .azure-pipelines/code-scan-neural-solution.yaml
  .azure-pipelines/code-scan.yml
  .azure-pipelines/scripts/ut/3x/collect_log_3x.sh
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/compare_coverage.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor_tfnewapi.sh
  .azure-pipelines/scripts/ut/run_basic_api.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/scripts/ut/run_basic_tf_pruning.sh
  .azure-pipelines/template/code-scan-template.yml
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-ort.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-itrex.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml
  .pre-commit-config.yaml
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Revert "Revert "WAQ refactor[WIP] (#1496)""
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  docs/source/smooth_quant.md
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/awq.py
  neural_compressor/adaptor/torch_utils/layer_wise_quant/quantize.py
  neural_compressor/adaptor/torch_utils/model_wrapper.py
  neural_compressor/adaptor/torch_utils/smooth_quant.py
  neural_compressor/adaptor/torch_utils/teq.py
  neural_compressor/adaptor/torch_utils/util.py
  neural_compressor/adaptor/torch_utils/waq/README.md
  neural_compressor/adaptor/torch_utils/waq/__init__.py
  neural_compressor/adaptor/torch_utils/waq/auto_alpha.py
  neural_compressor/adaptor/torch_utils/waq/calibration.py
  neural_compressor/adaptor/torch_utils/waq/graph_trace.py
  neural_compressor/adaptor/torch_utils/waq/smooth_quant.py
  neural_compressor/adaptor/torch_utils/waq/utils.py
  test/algorithm/test_smooth_quant.py
  test/quantization/test_weight_only_quantization.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update export arguments
  neural_compressor/adaptor/torch_utils/weight_only.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor_pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update auto-round version
  .azure-pipelines/scripts/ut/env_setup.sh
  test/requirements.txt
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

update inplace default value
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update autoround version
  .azure-pipelines/scripts/ut/env_setup.sh
  test/requirements.txt
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

fix name
  .github/checkgroup.yml
Due: none

fix little issue for itrex-ut
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add hpu in auto accelerator
  neural_compressor/torch/algorithms/weight_only/gptq.py
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

add requirement
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/requirement.txt
Due: none

change priority
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

fix bug happening in ITREX
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

[2.x API] Enable autoround export (#1641)
  .azure-pipelines/scripts/ut/env_setup.sh
  neural_compressor/adaptor/pytorch.py
  neural_compressor/adaptor/torch_utils/weight_only.py
  test/adaptor/pytorch_adaptor/test_weight_only_adaptor_pytorch.py
  test/quantization/test_weight_only_quantization.py
  test/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

remove test code
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-3x-pt.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

fix corner issue in CI ITREX test
  .azure-pipelines/scripts/ut/run_itrex.sh
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

sq bug-fix for itrex-ut (#1642)
  .azure-pipelines/scripts/ut/run_itrex.sh
  neural_compressor/adaptor/pytorch.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update main.py
  examples/onnxrt/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

fix import issue and support mistral
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/habana_fp8/utils.py
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

init commit
  neural_compressor/adaptor/torch_utils/gptq.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix bug in auto accelerator
  neural_compressor/torch/utils/auto_accelerator.py
Due: .azure-pipelines/ut-3x-pt.yml

fix ut
  neural_compressor/torch/quantization/config.py
Due: .azure-pipelines/ut-3x-pt.yml

update path
  .github/checkgroup.yml
Due: none

Support CI summary in PR comments (#1624)
  .azure-pipelines/code-scan-neural-insights.yaml
  .azure-pipelines/code-scan-neural-solution.yaml
  .azure-pipelines/code-scan.yml
  .azure-pipelines/scripts/ut/3x/collect_log_3x.sh
  .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/scripts/ut/3x/run_3x_pt.sh
  .azure-pipelines/scripts/ut/3x/run_3x_tf.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/compare_coverage.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor.sh
  .azure-pipelines/scripts/ut/run_basic_adaptor_tfnewapi.sh
  .azure-pipelines/scripts/ut/run_basic_api.sh
  .azure-pipelines/scripts/ut/run_basic_itex.sh
  .azure-pipelines/scripts/ut/run_basic_others.sh
  .azure-pipelines/scripts/ut/run_basic_pt_pruning.sh
  .azure-pipelines/scripts/ut/run_basic_tf_pruning.sh
  .azure-pipelines/template/code-scan-template.yml
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/ut-3x-ort.yml
  .azure-pipelines/ut-3x-pt.yml
  .azure-pipelines/ut-3x-tf.yml
  .azure-pipelines/ut-basic-no-cover.yml
  .azure-pipelines/ut-basic.yml
  .azure-pipelines/ut-itrex.yml
  .azure-pipelines/ut-ncoder.yml
  .azure-pipelines/ut-neural-insights.yaml
  .azure-pipelines/ut-neural-solution.yaml
  .github/checkgroup.yml
  .github/workflows/probot.yml
  .pre-commit-config.yaml
Due: .azure-pipelines/ut-3x-ort.yml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/model-test.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, examples/tensorflow/oob_models/quantization/ptq, but not: test, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor/common, neural_compressor/onnxrt, test/3x/onnxrt, test/3x/common, setup.py, requirements_ort.txt, .azure-pipelines/scripts/ut/3x/run_3x_ort.sh
  .azure-pipelines/ut-3x-pt.yml: any of: neural_compressor/common, neural_compressor/torch, test/3x/torch, setup.py, requirements_pt.txt
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow, neural_compressor/onnxrt
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux
