Repository intel/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-ncoder.yml, .azure-pipelines/ut-neural-insights.yaml, .azure-pipelines/ut-ux.yml

Path conditions:
  .azure-pipelines/code-scan-neural-solution.yaml: any of: neural_solution, setup.py, .azure-pipelines/code-scan-neural-solution.yml
  .azure-pipelines/ut-basic-no-cover.yml: any of: neural_compressor, test, setup.py, requirements.txt, but not: test/neural_coder, test/3x, neural_compressor/common, neural_compressor/torch
  .azure-pipelines/ut-basic.yml: any of: neural_compressor, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, but not: test/neural_coder
  .azure-pipelines/ut-itrex.yml: any of: neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/ut/run_itrex.sh, but not: neural_compressor/common, neural_compressor/torch, neural_compressor/tensorflow
  .azure-pipelines/ut-ncoder.yml: any of: neural_coder
  .azure-pipelines/ut-neural-insights.yaml: any of: neural_insights, setup.py
  .azure-pipelines/ut-ux.yml: any of: neural_compressor/ux

refactor the tuner
  neural_compressor/common/base_tune.py
  neural_compressor/torch/tune.py
Due: .azure-pipelines/ut-basic.yml

rename tuning_objective to tuning_objectives
  neural_compressor/common/base_tune.py
  neural_compressor/torch/tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

enhance the node name check
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

dynamic version
  .gitignore
  setup.py
Due: .azure-pipelines/code-scan-neural-solution.yaml, .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml, .azure-pipelines/ut-neural-insights.yaml

update the checking
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update status
  docs/source/llm_recipes.md
Due: none

Fix wrong socket number retrieval for non-english system
  neural_compressor/utils/utility.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

enhance name checking and add UTs
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/ox_utils/util.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update check logic
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/ox_utils/util.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add UTs for tf
  test/3x/tensorflow/test_config.py
Due: .azure-pipelines/ut-basic.yml

remove the cpu offload
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/multi_cards/config/zero_stage3_config.json
Due: none

support for falcon and lamini
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

disable coverage check for ds-related some code
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

update Llama-2-13b-hf SQ status (#1513)
  docs/source/llm_recipes.md
Due: none

update doc for xpu
  docs/source/quantization.md
  examples/README.md
Due: none

refine code
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fixed typo
  neural_compressor/adaptor/ox_utils/util.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add pragma no cover
  neural_compressor/compression/pruner/utils.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Update quantization.md
  docs/source/quantization.md
Due: none

update doc entry for IPEX xpu example (#1516)
  docs/source/quantization.md
  examples/README.md
Due: none

Enhance the ORT node name checking (#1512)
  neural_compressor/adaptor/ox_utils/quantizer.py
  neural_compressor/adaptor/ox_utils/util.py
  test/adaptor/onnxrt_adaptor/test_adaptor_onnxrt.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix typos
  neural_compressor/common/base_tune.py
  test/3x/torch/test_autotune.py
Due: .azure-pipelines/ut-basic.yml

change to install latest INC & TF, add metric in fit
  examples/notebook/tensorflow/alexnet_mnist/conda_set_env.sh
  examples/notebook/tensorflow/alexnet_mnist/devcloud_setup_env.sh
  examples/notebook/tensorflow/alexnet_mnist/inc_quantize_model.py
  examples/notebook/tensorflow/alexnet_mnist/inc_sample_for_tensorflow.ipynb
  examples/notebook/tensorflow/alexnet_mnist/pip_set_env.sh
  examples/notebook/tensorflow/alexnet_mnist/requirements.txt
  examples/notebook/tensorflow/alexnet_mnist/run_in_intel_devcloud.sh
  examples/notebook/tensorflow/alexnet_mnist/run_jupyter.sh
  examples/notebook/tensorflow/alexnet_mnist/run_sample.sh
Due: none

remove unused code
  neural_compressor/compression/pruner/pruners/base.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Introduce INC3.0 auto-tune (#1497)
  neural_compressor/common/base_config.py
  neural_compressor/common/base_tune.py
  neural_compressor/torch/__init__.py
  neural_compressor/torch/quantization/quantize.py
  neural_compressor/torch/tune.py
  test/3x/tensorflow/test_config.py
  test/3x/torch/test_autotune.py
  test/3x/torch/test_config.py
Due: .azure-pipelines/ut-basic.yml

Change the calib dataset to pile-10k
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/README.md
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/scripts/run_llm_sparsegpt.sh
Due: none

fix model url, adapt to inc api
  examples/notebook/tensorflow/vgg19_ibean/inc_quantize_vgg19.ipynb
Due: none

add support
  neural_compressor/compression/pruner/wanda/prune.py
  neural_compressor/compression/pruner/wanda/wrapper.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

notebook example update to install latest INC & TF, add metric in fit (#1517)
  examples/notebook/tensorflow/alexnet_mnist/conda_set_env.sh
  examples/notebook/tensorflow/alexnet_mnist/devcloud_setup_env.sh
  examples/notebook/tensorflow/alexnet_mnist/inc_quantize_model.py
  examples/notebook/tensorflow/alexnet_mnist/inc_sample_for_tensorflow.ipynb
  examples/notebook/tensorflow/alexnet_mnist/pip_set_env.sh
  examples/notebook/tensorflow/alexnet_mnist/requirements.txt
  examples/notebook/tensorflow/alexnet_mnist/run_in_intel_devcloud.sh
  examples/notebook/tensorflow/alexnet_mnist/run_jupyter.sh
  examples/notebook/tensorflow/alexnet_mnist/run_sample.sh
Due: none

set model to train mode for finetuning
  examples/pytorch/nlp/huggingface_models/question-answering/pruning/eager/run_qa_no_trainer.py
Due: none

update onnxrt calibration
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

fix onnxrt calibration for dml ep
  neural_compressor/adaptor/onnxrt.py
  neural_compressor/adaptor/ox_utils/calibration.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

add low memory mode, could run 70B on single gpu
  neural_compressor/compression/pruner/wanda/prune.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml

Quantize weight with in-place mode in weight-only quantization
  neural_compressor/adaptor/torch_utils/weight_only.py
Due: .azure-pipelines/ut-basic-no-cover.yml, .azure-pipelines/ut-basic.yml, .azure-pipelines/ut-itrex.yml
